In [1]:
import pandas as pd
%matplotlib inline
from scipy.optimize import curve_fit
import numpy as np
import matplotlib.pyplot as pl

#  1 Abstract

This project was a nice change of pace since we got to choose what we were going to do. So what we decided to do was use an arduino to collect the temperature of the room while simultaneously having python read those measurements. As well as display them on a small little oled display that is based on an $i^2c$ connection. We did two runs of data collection each lasting 90 seconds. On average we got 84 degrees Fahrenheit for the first run and 89 degrees Fahrenheit for the second.

# 2 Description

For this project our main goal was to measure something using some kind of sensor hooked up to an arduino. Then at the same time feed the data directly into python via the serial connection and also incorporate some kind of $i^2c$ connection in the process. We used an arduino paired with a temperature sensor and an oled display to achieve this goal. We got most of the wiring information off of Sparkfun's website.

# 3 Schematic

For this week's project we got to build our own circuit 100% from scratch with no recipe. For the temperature sensor we needed a $2k\Omega$ resistor, an arduino and a breadboard. We choose the resistor value based on Sparkfun's recommendation for that sensor. Then we followed the schematic they provided as well. We also snagged their information on our level converter and the oled display. As always I have a beautiful schematic for you below.

![schematic](schem.png)

# 4 Code

For this week we had quite a bit of coding on our plates. For the temperature sensor we took the example code off of sparkfun's website and then tweaked it to work at the press of a button... see what I did there. (;  We also got the oled display example code off their website however we had to adjust it quite a bit to fit our needs. For the python we took some code from your example code and adjusted it for our needs. As always I will provide pictures for a more aesthetically pleasing viewing process as well as the actual code below.

Temperature sensor code picture:
![Temprature sensor code picture](temp_code.png)


Temperature sensor code:


#define LED 13     
#define IN_PORT 0     
#define NUMLOOPS 90     
#define LOOP_DELAY 1000  

//initializes/defines the output pin of the LM335 temperature sensor
int outputPin= 0;
//this sets the ground pin to LOW and the input voltage pin to high
void setup()
{
Serial.begin(9600);
Serial.println("Hello");  
pinMode(LED, OUTPUT);     
}

//main loop
void loop()
{

 char command;
  int value;
  int rawvoltage= analogRead(outputPin);
  float millivolts= (rawvoltage/1024.0) * 5000;
  float kelvin= (millivolts/10);
  float celsius= kelvin - 273.15;
  float fahrenheit= ((celsius * 9)/5 +32);
  if (Serial.available() > 0) {         
    command = (char)Serial.read();   
    if (command == 'z') {              
      Serial.println("Degrees Fahrenheit:\n");        
      for (int i = 0; i < NUMLOOPS; i++) {
        rawvoltage= analogRead(outputPin);
        millivolts= (rawvoltage/1024.0) * 5000;
        kelvin= (millivolts/10);
        celsius= kelvin - 273.15;
        fahrenheit= ((celsius * 9)/5 +32);
        delay(LOOP_DELAY);             
        Serial.println(fahrenheit);
      }
      Serial.println("End");     
    }
  }
  else {
    digitalWrite(LED, HIGH);       
    delay(LOOP_DELAY);
    digitalWrite(LED, LOW);
    delay(LOOP_DELAY);
  } 


delay(1000);
}



Since there was so much code I had to zoom out to get it on one picture so just zoom in to see it all nice and big!
Oled display code picture:
![Oled display code picture](oled_code.png)

Oled display code:


#include <Wire.h>  // Include Wire if you're using I2C
#include <SFE_MicroOLED.h>  // Include the SFE_MicroOLED library
#define LED 13     
#define IN_PORT 0     
#define NUMLOOPS 20     
#define LOOP_DELAY 1000  
//////////////////////////
// MicroOLED Definition //
//////////////////////////
//The library assumes a reset pin is necessary. The Qwiic OLED has RST hard-wired, so pick an arbitrarty IO pin that is not being used
#define PIN_RESET 9  
//The DC_JUMPER is the I2C Address Select jumper. Set to 1 if the jumper is open (Default), or set to 0 if it's closed.
#define DC_JUMPER 1 

//////////////////////////////////
// MicroOLED Object Declaration //
//////////////////////////////////
MicroOLED oled(PIN_RESET, DC_JUMPER);    // I2C declaration
int outputPin= 0;
void setup()
{
  delay(100);
  oled.begin();    // Initialize the OLED
  oled.clear(ALL); // Clear the display's internal memory
  oled.display();  // Display what's in the buffer (splashscreen)
  delay(1000);     // Delay 1000 ms
  oled.clear(PAGE); // Clear the buffer.
  Serial.begin(9600);
Serial.println("Hello");  
pinMode(LED, OUTPUT); 
}



void loop()
{
  char command;
  int value;
  int rawvoltage= analogRead(outputPin);
  float millivolts= (rawvoltage/1024.0) * 5000;
  float kelvin= (millivolts/10);
  float celsius= kelvin - 273.15;
  float fahrenheit= ((celsius * 9)/5 +32);
  if (Serial.available() > 0) {         
    command = (char)Serial.read();   
    if (command == 'z') {                   
      for (int i = 0; i < NUMLOOPS; i++) {
        delay(LOOP_DELAY);             
        oled.clear(PAGE);            // Clear the display
    oled.setCursor(0, 0);        // Set cursor to top-left
    oled.setFontType(0);         // Smallest font
    oled.print("Degrees: \n");          // Print "A0"
    oled.setFontType(2);         // 7-segment font
    oled.print(fahrenheit);  // Print a0 reading
    oled.setCursor(0, 16);       // Set cursor to top-middle-left
    oled.setFontType(0);         // Repeat
    oled.display();
      }
      Serial.println("End");     
    }
  }
  else {
    digitalWrite(LED, HIGH);       
    delay(LOOP_DELAY);
    digitalWrite(LED, LOW);
    delay(LOOP_DELAY);
  } 
  
}


As you can see the python code is right below!

#
# talk to Arduino!
#

import serial

#port = serial.Serial('COM3')                        # open the serial port (WIN)
port = serial.Serial('/dev/cu.usbserial-DN01J8UL')   # open the serial port (MAC/Linux)

print("Waiting for conversation...")

s = port.readline().strip()             # read a line of input from the Arduino

print ("got ",str(s))                   # echo to screen

while s != b'Hello':                    # check for "Hello"
    s = port.readline().strip()         # not yet, try again
    print ("got ",str(s))

port.write(b'z')                        # send a command

s = port.readline().strip()             # get a reply

while s[:3] != b'End':                  # is it the end?
    print(str(s.decode()))                       # nope, echo, repeat
    s = port.readline().strip()
    
print ("Finally got:", str(s))          # that's it!
print ("Finished!")

port.close()

# 5 Data 

We took two sets of data each for ninety seconds. The first was just measuring the room temperature and the second was while one of us was holding the temperature sensor the entire time.

We assumed the the room temperature was roughly 70 - 75 degrees Fahrenheit. We also assumed that Allison had an average skin temperature of around 85-95 degrees Fahrenheit at room temperature.

In [40]:
data = pd.read_excel('data.xlsx')
data

    temperature  temperature_with_finger
0         83.49                    86.13
1         82.62                    86.13
2         83.49                    86.13
3         83.49                    86.13
4         83.49                    85.25
5         82.62                    86.13
6         83.49                    86.13
7         83.49                    85.25
8         82.62                    85.25
9         82.62                   114.26
10        83.49                    85.25
11        83.49                    86.13
12        83.49                    86.13
13        83.49                    88.77
14        84.37                    86.13
15        83.49                    86.13
16        83.49                    86.13
17        83.49                   104.59
18        83.49                    87.01
19        83.49                    87.01
20        83.49                    87.01
21        83.49                   108.98
22        83.49                   106.35
23        83.49                    96.68
24        83.49                    87.01
25       105.47                    87.01
26        84.37                    87.01
27        83.49                   114.26
28        83.49                    87.89
29        83.49                    87.89
..          ...                      ...
60        83.49                    85.25
61        83.49                    85.25
62        83.49                    86.13
63        83.49                    86.13
64        83.49                    85.25
65        83.49                    85.25
66        83.49                    87.01
67        83.49                    86.13
68        83.49                    86.13
69        92.28                    86.13
70        83.49                    89.65
71        83.49                    86.13
72        83.49                    86.13
73        83.49                    86.13
74        83.49                    87.01
75        83.49                    86.13
76        83.49                    87.01
77        83.49                    87.01
78       105.47                    87.01
79        83.49                    86.13
80        93.16                    86.13
81        84.37                    87.89
82        83.49                    86.13
83       104.59                    86.13
84        83.49                    86.13
85        82.62                    87.01
86        83.49                    87.01
87        83.49                    87.01
88        98.44                    86.13
89        83.49                    87.01

[90 rows x 2 columns]

# 6 Analysis

We assumed the the room temperature was roughly 70 - 75 degrees Fahrenheit. We also assumed that Allison had an average skin temperature of around 85-95 degrees Fahrenheit at room temperature. For the analysis I took the averages of the two runs and compared them to what I expected and saw what I considered to be reasonable data for the second test but not the first. However I had quite a few observations that puzzled me. First I found it quite odd how we would get very large temperature spikes randomly. Second I'm not at all convinced that the temperature was anywhere near 84 degrees Fahrenheit in the room we were in. Third while the first data set didn't seem accurate; at first look the second does, with it only being two degrees off of what we expected which isn't abnormal at all. However when you take a closer look and calculate the standard deviation you see really I have no business telling you anything about this data set with a standard deviation of 11. So to mitigate some of these problems I've found I assumed that the large spikes are not good readings and threw those out. After I did this I found that the standard deviation was miles better! However the mean for the first run still is not close to what I expected it to be but the mean from the second run is still not at all to far away from a realistic number. This also doesn't make since to me because if you go with the conclusion that the temperature sensor gives readings hotter than normal then that would explain the first run but not the second because the second run is on the colder side of our range. This left me confused for a second. Even after that I don't think its fair to say that the temperature sensor is completely wrong because the readings while not super close aren't completely outlandish. So the conclusion I have drawn is that the temperature sensor is much more accurate when it is making direct contact with what it is trying to measure. This makes sense because while the temperature senor could make "direct contact" with the air around it, it also had a lot of other objects near it that could have easily effected it; where as with the finger test the sensor had the finger surrounding it which meant that it had very little chance of anything interfering with it. That is why I feel that the sensor is actually accurate within a degree roughly.

In [41]:
mean = np.mean(data['temperature'])
std = np.std(data['temperature'])
mean2 = np.mean(data['temperature_with_finger'])
std2 = np.std(data['temperature_with_finger'])
print('Mean of temp:', mean)
print('Standard deviation of temp:',std)
print('Mean of temp_with_finger:', mean2)
print('Standard deviation of temp_with_finger:',std2)

Mean of temp: 84.67344444444431
Standard deviation of temp: 4.5171581924704025
Mean of temp_with_finger: 89.92000000000007
Standard deviation of temp_with_finger: 11.238100768763768

In [72]:
newData = pd.read_excel('data2.xlsx')
newData

    temperature  temperature_with_finger
0         83.49                    86.13
1         82.62                    86.13
2         83.49                    86.13
3         83.49                    86.13
4         83.49                    85.25
5         82.62                    86.13
6         83.49                    86.13
7         83.49                    85.25
8         82.62                    85.25
9         82.62                      NaN
10        83.49                    85.25
11        83.49                    86.13
12        83.49                    86.13
13        83.49                    88.77
14        84.37                    86.13
15        83.49                    86.13
16        83.49                    86.13
17        83.49                      NaN
18        83.49                    87.01
19        83.49                    87.01
20        83.49                    87.01
21        83.49                      NaN
22        83.49                      NaN
23        83.49                      NaN
24        83.49                    87.01
25          NaN                    87.01
26        84.37                    87.01
27        83.49                      NaN
28        83.49                    87.89
29        83.49                    87.89
..          ...                      ...
60        83.49                    85.25
61        83.49                    85.25
62        83.49                    86.13
63        83.49                    86.13
64        83.49                    85.25
65        83.49                    85.25
66        83.49                    87.01
67        83.49                    86.13
68        83.49                    86.13
69          NaN                    86.13
70        83.49                    89.65
71        83.49                    86.13
72        83.49                    86.13
73        83.49                    86.13
74        83.49                    87.01
75        83.49                    86.13
76        83.49                    87.01
77        83.49                    87.01
78          NaN                    87.01
79        83.49                    86.13
80          NaN                    86.13
81        84.37                    87.89
82        83.49                    86.13
83          NaN                    86.13
84        83.49                    86.13
85        82.62                    87.01
86        83.49                    87.01
87        83.49                    87.01
88          NaN                    86.13
89        83.49                    87.01

[90 rows x 2 columns]

In [73]:
newMean = np.mean(newData['temperature'])
newStd = np.std(newData['temperature'])
newMean2 = np.mean(newData['temperature_with_finger'])
newStd2 = np.std(newData['temperature_with_finger'])
print('Mean of temp:', newMean)
print('Standard deviation of temp:',newStd)
print('Mean of temp_with_finger:', newMean2)
print('Standard deviation of temp_with_finger:',newStd2)

Mean of temp: 83.58571428571415
Standard deviation of temp: 1.3626718202839283
Mean of temp_with_finger: 86.7492592592593
Standard deviation of temp_with_finger: 0.9723305054337155

# 7 Statistics

# Exercise 1: